* {
    margin: 0;
    padding: 0;
    
}

/*-----------banner---------*/

.banner {

    display: flex;
    align-items: center;

    padding: 50px 200px;
    background-color: rgb(252, 232, 236);
    width: auto;

}

.banner-header {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    padding: 30px 30;
    margin-top: 20px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    background-color: rgb(187, 81, 98);
    padding: 20px 43px;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
}

.banner-img {
    width: 500px;
    
}

/*-------feature dection---------*/
.feature-section {
    margin: 100px 70px;
}

.feature {
    text-align: center;
    padding-bottom: 20px ;
    
}

.feature-content {
    display: flex;
    justify-content: space-around;
}

.feature-div {
    text-align: center;
    padding-top: 40px;
}

#img1 {
    padding: 90px 20px;
    background-color: aquamarine;
    margin-bottom: 30px;
    border-radius: 200px 200px 0 0;

}

#img2 {
    background-color: rgb(228, 248, 248);
    padding: 33px;
    margin-bottom: 30px;
    border-radius: 200px 200px 0 0;
}

#img3 {
    background-color: rgb(221, 239, 255);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 200px 200px 0 0;
}


.feature-img {
    width: 300px;
}

/*-----------Instagram---------*/
a{
    font-size: 20px;
}
.instagram {
    text-align: center;
    padding-bottom: 25px;

}

.instagram-imgs {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    padding-top: 50px;
    margin: 0 100px;
   



}

.inst-img {
    width: 250px;
}











/*----------advertisement section---------*/

.advertisement-heading-style{
    color: rgb(187, 81, 98);;
}
.advertisement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(252, 232, 236);
    ;
    margin: 50px 0;
    width: 100%;
}

.header {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal
}

.add-img {
    width: 300px;
    padding: 50px;
}

.btn {
    padding-left: 50px;
    margin-left: 200px;
    font: 1em sans-serif;
}

/*------login part---------*/

.login {
    text-align: center;
    padding-top: 100px;
    height: auto;
    border-radius: 10px;
    margin: 100px 100px;
    padding-bottom: 100px;
    background-image: url('./Flower Asset/Rectangle\ 9.png')
}

input {
    padding: 25px 500px 25px 25px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;

}

/*------footer----------*/

.footer {
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 100px ;
    padding: 100px 0;
}

.footer-description {
    color: rgba(197, 196, 196, 0.9);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    padding-top: 20px;
}

.footer-copiright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    padding-top: 20px;
}
.flower{
    
    color: #E55473;
}
    
.footer-title {
    
font-size: 48px;
font-style: normal;
}
