* {
    margin: 0;
    padding: 0;
    font-family: lato, sans-serif;
}

/*-----------banner---------*/

.banner {

    display: flex;
    align-items: center;
   
    padding: 50px 200px;
    background-color: rgb(252, 232, 236);
    width: auto;

}

.banner-header {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    padding: 30px 30;
    margin-top: 20px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    background-color: rgb(187, 81, 98);
    padding: 20px 43px;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
}

.banner-img {
    width: 500px;
}

/*-------feature dection---------*/
.feature-section{
    margin: 100px 0;
}
.feature{
    text-align: center;
}
.feature-content{
    display: flex;
    justify-content: space-around;
}
.feature-div{
    text-align: center;
    padding-top: 40px;
}

#img1{
    padding: 90px 20px;
    background-color: aquamarine;
    margin-bottom: 30px;
    border-radius: 200px 200px 0 0;

}
#img2{
    background-color: rgb(228, 248, 248);
    padding: 33px ;
    margin-bottom: 30px;
    border-radius: 200px 200px 0 0;
}
#img3{
    background-color: rgb(221, 239, 255);
    padding: 15px ;
    margin-bottom: 30px;
    border-radius: 200px 200px 0 0;
}


.feature-img{
    width: 300px;
}

/*-----------Instagram---------*/

.instagram{
    text-align: center;
    padding-bottom: 25px;
    
}

.instagram-imgs{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    padding-top: 50px;
    width: 100%;
  
    
    
}
.inst-img{
    width: 250px;
}











/*----------advertisement section---------*/


.advertisement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(252, 232, 236); ;
    margin: 50px 100px;
}

.header {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal
}

.add-img {
    width: 300px;
    padding: 50px;
}
.btn{
    padding-left: 50px ;
    margin-left: 200px;
    font: 1em sans-serif;
}

/*------login part---------*/

.login{
    text-align: center;
    padding-top: 100px;
    height: auto;
    margin-top: 100px;
    padding-bottom: 100px;
    background-image: url('./Flower Asset/Rectangle\ 9.png')
    
}
input{
    padding: 25px 500px 25px 25px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    
}